body{
    margin: 8%;
    background-image: url("../img/background.png");
    height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1{
    margin-left: 110px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
.form{
    display: flex;
    flex-direction: column;
    
} 
.signin-container{
   display: flex;
   justify-content: center;

}
 input.form-input2{
    width: 500px;
    padding: 10px 6px;
    margin: 20px;
    border-radius: 3px;
   
}
input[type=text]:focus {
    border: 3px solid rgb(48, 240, 34);
  }
  input[type=text]:focus {
    background-color: rgb(173, 230, 218);
  }
  .main-container{
    display: flex;
    flex-direction: column;
    
  }
  .signup-heading{
    display: flex;
    align-self: center;
    color: rgb(26, 26, 26);
    font-weight: bolder;
    font-size: xx-large;
   margin-left: -100px;

  }
  .btn-btn-signin{
    display: flex;
    width: 150px;
    align-self: center;
    padding: 15px 0;
    padding-left: 50px;
    padding-right: 10px;
    margin-top: 40px;
    font-size: large;
    background-color: rgb(32, 126, 233);
    color: aliceblue;
    border: none;
    border-radius: 3px;
  }
   .btn-btn-signin:hover{
    background-color: rgb(13, 97, 27);
    cursor: pointer;
  }
  .btn-btn-signup{
    display: flex;
    width: 500px;
    align-self: center;
    padding: 15px 0;
    padding-left: 230px;
    padding-right: 10px;
    margin-top: 40px;
    margin-left: 30px;
    font-size: large;
    background-color: rgb(23, 202, 178);
    color: aliceblue;
    border: none;
    border-radius: 3px;
    text-decoration: none;
  }
  .btn-btn-signup:hover{
    background-color: rgb(140, 185, 16);
    cursor: pointer;
  }
     #link{
        text-decoration: none;
     }