#body-contact {
    width: 84%;
    position: relative;
    display: inline-block;
    top: -100px;
    box-sizing: border-box;
    margin-left: 5px;
    padding: 10px;
    background: #FBFBFB;
    border-radius: 15px;
}

#calender {
    display: inline-block;
    background-color: #ffffff;
}

#date-txt {
    display: inline-block;
    margin-left: 5px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

#date-logo {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../img/cal.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#filter {
    display: inline-block;
    margin-left: 20px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    background-color: #ffffff;
}

#filter-logo {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../img/filter.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    vertical-align: sub;
}

#filter-txt {
    display: inline-block;
    margin-left: 5px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

#delete-span {
    float: right;
    margin-right: 20px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    background-color: #ffffff;
}

#delete-logo {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../img/del.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    vertical-align: sub;
}

#import {
    float: right;
    margin-right: 20px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    background-color: #ffffff;
}

#import-logo {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../img/import.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    vertical-align: sub;
}

#export {
    float: right;
    margin-right: 20px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    background-color: #ffffff;
}

#export-logo {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../img/export.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    vertical-align: sub;
}
table{
    width: 100%;
}

thead{
    background: #B3DFFF;
    box-shadow: inset -1px -1px 20px rgb(254 134 39 / 10%), inset 1px 1px 20px rgb(254 134 39 / 10%);
    border-radius: 10px;
    text-align: left;
}
tbody{
    font-family: 'Titillium Web';
font-style: normal;
/* font-weight: 600; */
font-size: 18px;
line-height: 27px;

color: #000000;

opacity: 0.8;
text-align: left;
}

#contact-box{
    height:6vh;
    width:99%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color:#b3f0ff;
    border-radius:8px;
    margin: 5px 0px;
}
.content{
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
}
#edit{
 color: darkgreen;

}
#delete{
    color: crimson;
    
}
#contact-edit-btn{
    background-color:#b3f0ff ;
    height:20px;
    width: 20px;
    align-items: center;
    align-content: space-around;
justify-content: space-evenly;
    text-align: center;
}
#contact-delete-btn{
background-color:#b3f0ff;
height: 20px;
width: 20px;
position: relative;
left:10px
}
#contact-box:hover{
    background-color: darkcyan;
}
.mailid{
    position: relative;
}
.mailid .tooltip{
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    left: 20px;
    top: 25px;
    padding: 5px 20px;
    position: absolute;
    z-index: 1;
}

.mailid:hover .tooltip{
    visibility: visible;
}
#import:hover{
    background-color: #97c3f0;
    cursor: pointer;
}